<staq-navbar [navigationItems]="navItems"></staq-navbar>
<div class="container pt-2">
  
  <table class="table table-hover">
    <thead>
    <tr>
      <th scope="col">movieId</th>
      <th scope="col">movie</th>
      <th scope="col">rating</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let rating of user?.ratings">
      <th scope="row"><a href="/movies/{{ rating.movie.id }}">{{ rating.movie.id }}</a></th>
      <td>{{ rating.movie.title }}</td>
      <td> {{ rating.rating }}</td>
    </tr>
    </tbody>
  </table>
  
  <staq-pagination
    [currentPage]="ratingsPageOptions.page"
    [totalPages]="ratingsPageOptions.totalPages">
  </staq-pagination>

</div>
