<table class="table table-hover">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">title</th>
    <th scope="col">genres</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let movie of movies | async" (click)="openMovieDetails(movie)">
    <th scope="row"> {{ movie.id }}</th>
    <td> {{ movie.title }}</td>
    <td> {{ movie.genres.join(', ')}}</td>
  </tr>
  </tbody>
</table>

hi {{page}}

<staq-pagination
  [currentPage]="page"
  [totalPages]="totalPages | async"
  (paginationClicked)="updatePage($event)">
</staq-pagination>
